<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/metaDatos') %>
        <title>Principal</title>
</head>

<body class="index-body">
    <%- include('./partials/header') %>
        <main>
            <div class="banner">
                <h3>📦 Envíos gratis en compras superiores a $40.000 🚚</h3> <!--Carrousel-->
            </div>
            <section>
                <div class="productos-destacados">
                    <h1>PRODUCTOS DESTACADOS</h1>
                </div>
                <div class="index-productos">
                    <% productWithOutOffert.map((prod)=> { %>

                        <article>
                            <a href="/products/productDetail/<%= prod.id %>">
                            <div class="index-producto-img">
                                <img src="/img/portada/<%= prod.imagen %>" alt="007">
                            </div>
                            <div class="index-article">
                                <div class="index-producto-precio-descuento">
                                    <p class="index-producto-precio">$ <%= prod.precio %>
                                    </p>
                                    <p class="index-producto-descuento">
                                        <%= prod.descuento %>% off
                                    </p>
                                </div>
                                <h4 class="index-productos-descripcion">
                                    <%= prod.nombre %>
                                </h4>
                            </div>
                        </a>
                        </article>
                        <% }) %>
                </div>
            </section>
            <section>
                <div class="banner-informativo">
                    <article>
                        <div class="banner-informativo-article">
                            <i class="fa-solid fa-truck-fast"></i>
                            <h3>ENVÍOS A TODO EL PAÍS</h3>
                            <p>Elegí el transporte de tu preferencia! Compra mínima $15000</p>
                        </div>
                    </article>
                    <div class="borde-vertical">
                    </div>
                    <article>
                        <div class="banner-informativo-article">
                            <i class="fa-regular fa-credit-card"></i>
                            <h3>TODOS LOS MEDIOS DE PAGO</h3>
                            <p>Mercado Pago, Transferencia/depósito, Rapipago y Pagofácil</p>
                        </div>
                    </article>
                    <div class="borde-vertical">
                    </div>
                    <article>
                        <div class="banner-informativo-article">
                            <i class="fa-solid fa-house-user"></i>
                            <h3>RETIRA GRATIS POR EL LOCAL</h3>
                            <div>
                                <p>Pedí online y retira San Salvador de Jujuy de lunes a viernes.</p>
                            </div>
                        </div>
                    </article>
                </div>
            </section>
            <section>
                <div class="ofertas">
                    <h1>OFERTAS</h1>
                </div>
                <div class="index-productos">
                    <% productWithOffert.map((prod)=> { %>

                        <article>
                            <a href="/products/productDetail/<%= prod.id %>">
                            <div class="index-producto-img">
                                <img src="/img/portada/<%= prod.imagen %>" alt="007">
                            </div>
                            <div class="index-article">
                                <div class="index-producto-precio-descuento">
                                    <p class="index-producto-precio">$ <%= prod.precio %>
                                    </p>
                                    <p class="index-producto-descuento">
                                        <%= prod.descuento %>% off
                                    </p>
                                </div>
                                <h4 class="index-productos-descripcion">
                                    <%= prod.nombre %>
                                </h4>
                            </div>
                        </a>
                        </article>
                        <% }) %>
                </div>
            </section>


        </main>

        <%- include('./partials/footer') %>

</body>

</html>