<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/metaDatos') %>
        <link rel="stylesheet" href="/css/registerStyle.css">
        <link rel="stylesheet" href="/css/style.css">
        <link rel="stylesheet" href="/css/productDetail.css">
        <title>Agregar Productos</title>
</head>

<body>

    <%- include('./partials/header') %>

        <main>
            <% if (locals.errors) { %>
                <% for(let oneError in errors) { %>
                    <p><%= errors[oneError].msg %></p>
                <% }; %>
            <% } %>
            <form action="/products/productEdit/<%= productoSeleccionado.id%>?_method=PUT" method="POST" class="form-register" enctype="multipart/form-data">
                <h2>EDITAR PRODUCTO</h2>
                <div>
                    <label for="nombreProducto">Nombre del producto</label>
                    <input type="text" name="nombre" id="nombre" value="<%= productoSeleccionado.nombre%>" required>
                </div>
                <div>
                    <label for="descripcion">Descripcion</label>
                    <textarea name="descripcion" id="descripcion" rows="5" cols="33"><%= productoSeleccionado.descripcion%>
                    </textarea>
                </div>
                
                <div class="img-container-img">
                    <img src="/img/portada/<%= productoSeleccionado.imagen %>" alt="<%= productoSeleccionado.name %>" class="img">
                </div>
                <div>
                    <label for="imagen">Imagen</label>
                    <input type="file" name="imagen" id="imagen"> 
                </div>
                <div>
                    <p></p>
                    <label for="categorias">Categorias</label>
                    <select name="categorias" id="categorias" required>
                        <option value="Seleccione">Seleccione</option>
                        <% if (productoSeleccionado.categoria.descripcion == "Consolas"){%>
                            <option value="1" selected>Consolas</option>
                        <%}else{%>
                            <option value="1">Consolas</option>
                        <%}%>

                        <% if (productoSeleccionado.categoria.descripcion == "Cartuchos"){%>
                            <option value="2" selected>Cartuchos</option>
                        <%}else{%>
                            <option value="2">Cartuchos</option>
                        <%}%>

                        <% if (productoSeleccionado.categoria.descripcion == "Accesorios"){%>
                            <option value="3" selected>Accesorios</option>
                        <%}else{%>
                            <option value="3">Accesorios</option>
                        <%}%>

                        <% if (productoSeleccionado.categoria.descripcion == "Varios"){%>
                            <option value="4" selected>Varios</option>
                        <%}else{%>
                            <option value="4">Varios</option>
                        <%}%>
                    
                    </select>
                </div>
                <div>
                    <label for="descuento">Descuento</label>
                    <input type="number" name="descuento" id="descuento" placeholder="Descuento" required value="<%= productoSeleccionado.descuento%>" >
                </div>
                <div>
                    <label for="precio">Precio</label>
                    <input type="text" name="precio" id="precio" placeholder="Precio" required value="<%= productoSeleccionado.precio%>" >
                </div>
                <div>
                    <label for="historia">Historia</label>
                    <textarea name="historia" id="historia" rows="5" cols="33"><%= productoSeleccionado.historia%>
                    </textarea>
                </div>
                <div>
                    <label for="requisitos">Requisitos</label>
                    <textarea name="requisitos" id="requisitos" rows="5" cols="33"><%= productoSeleccionado.requisitos%>
                    </textarea>
                </div>

            <button type="submit" class="btn-register">Editar!</button>
        </form>
    </main>

    <%- include('./partials/footer') %>
</body>

</html>