<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/metaDatos') %>
    <link rel="stylesheet" href="/css/productDetail.css">
    <title>Detalle de Producto</title>
</head>
<body>
    <%- include('./partials/header') %>
    <link rel="stylesheet" href="/css/style.css">
    
    <main>
        <section class="product-detail">
            <div class="product-details-container">
                <div class="img-container">
                    <div class="img-container-img">
                        <img src="/img/portada/<%= productoSeleccionado.imagen %>" alt="<%= productoSeleccionado.name %>" class="img">
                    </div>
                    
                    <div class="thumbnail-container">
                        <img src="/img/portada/<%= productoSeleccionado.imagen %>" alt="Thumbnail 1" class="thumbnail">
                        <img src="/img/portada/<%= productoSeleccionado.imagen %>" alt="Thumbnail 2" class="thumbnail">
                        <img src="/img/portada/<%= productoSeleccionado.imagen %>" alt="Thumbnail 3" class="thumbnail">
                    </div>
                </div>
            </div>
            <div class="text-container">
                <div class="nameProduct">
                    <h2><%= productoSeleccionado.nombre %></h2>
                </div>
                <div class="details">
                    <div class="price">
                        <p>Medios de pago</p>
                        <div class="medios_de_pago">
                            <img  src="/img/medios_de_pago.png" alt="Logo de la página">
                        </div>
                        
                    </div>
                    <div class="shipping">
                        <p>Medios de envío</p>
                        <div class="medios_de_pago">
                            <img  src="/img/ecomm-medios-envio.png" alt="Logo de la página">
                        </div>
                    </div>
                    <div class="price-add-to-cart">
                        <p>Precio: $<%= productoSeleccionado.precio %></p>
                    </div>
                    <div class="add-to-cart">
                        <button>Agregar al carrito</button>
                    </div>
                    <% if (locals.loggedUser) { %>
                    <div class="edit-delete-button">
                        <form action="/products/productEdit/<%= productoSeleccionado.id %>" method="GET" >
                            <button class= "edit-delete" type="submit">Editar</button>
                        </form>
                        <form action="/products/productDetail/<%= productoSeleccionado.id %>?_method=DELETE" method="POST" >
                            <button class= "edit-delete" type="submit">Eliminar</button>
                        </form>
                    </div>
                    <% } %>
                </div>
            </div>
        </section>
        
        
        <div class="specifications">
            <h3>Especificaciones del producto:</h3>
            <ul>
                <li> <%= productoSeleccionado.requisitos %> </li>
            <br>
            <p>Historia:</p>
            <p> <%= productoSeleccionado.historia %></p>
        </div>

    </main>
    <%- include('./partials/footer') %>
    
</body>
</html>