<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/metaDatos') %>
    <link rel="stylesheet" href="/css/productDetail.css">
    <title>Detalle de Producto</title>
</head>
<body>
    <%- include('./partials/header') %>
    <link rel="stylesheet" href="/css/style.css">
    
    <main>
        <section class="product-detail">
            <div class="nameProduct">
                <h2><%= productoSeleccionado.nombre %></h2>
            </div>
            <div class="grid-container">
                <div class="img-container">
                    <img src="/img/portada/<%= productoSeleccionado.imagen %>" alt="<%= productoSeleccionado.name %>" class="img">
                </div>
                <div class="specifications">
                    <h3>Historia del producto:</h3>
                    <ul>
                        <li> <%= productoSeleccionado.historia %> </li>
                    </ul>
                    <h3>Descripcion del producto:</h3>
                    <ul>
                        <li> <%= productoSeleccionado.descripcion %> </li>
                    </ul>
                    <h3>Especificaciones del producto:</h3>
                    <ul>
                        <li> <%= productoSeleccionado.requisitos %> </li>
                    </ul>
                </div>
            </div>
            <div class="to-cart">
                <div class="price-add-to-cart">
                    <h3>Precio de Contado: </h3>
                    <p>$<strong><%= productoSeleccionado.precio %></strong></p>
                </div>
                <div class="payment-method">
                    <h3>Medios de Pago</h2>
                        <div>
                            <a href=""><img src="/img/payment-methods.png" alt="Logo de la página"></a>
                        </div>
                </div>
                <div class="add-to-cart">
                    <button onclick="window.location.href='/products/productCart/<%= productoSeleccionado.id %>';">Agregar al carrito</button>
                </div>
            </div>
            <% if (locals.loggedUser && locals.loggedUserAdmin) { %>
                <div class="edit-delete-button">
                    <form action="/products/productEdit/<%= productoSeleccionado.id %>" method="GET" >
                        <button class= "edit-delete" type="submit">Editar</button>
                    </form>
                    <form action="/products/productDetail/<%= productoSeleccionado.id %>?_method=DELETE" method="POST" >
                        <button class= "edit-delete" type="submit">Eliminar</button>
                    </form>
                </div>
                <% } %>
        </section>

    </main>
    <%- include('./partials/footer') %>
    
</body>
</html>