<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/metaDatos') %>
        <link rel="stylesheet" href="/css/registerStyle.css">
        <title>Agregar Productos</title>
</head>

<body>

    <%- include('./partials/header') %>

        <main>
            <form action="/products/productAdd" method="POST" class="form-register" enctype="multipart/form-data">
                <h2>AGREGAR PRODUCTO</h2>
                <div>
                    <label for="nombreProducto">Nombre del producto</label>
                    <input type="text" name="nombre" id="nombre" placeholder="Nombre" required>
                </div>
                <div>
                    <label for="descripción">Descripcion</label>
                    <textarea name="descripcion" id="descripcion" rows="5" cols="33">
                    </textarea>
                </div>
                <div>
                    <label for="imagen">Imagen</label>
                    <input type="file" name="imagen" id="imagen">
                </div>
                <div>
                    <label for="categorias">Categorias</label>
                    <select name="categorias" id="categorias" required>
                        <option value="Seleccione">Seleccione</option>
                        <% if (locals.categoriasProductos) { %>
                            <% categoriasProductos.forEach(categoria => { %>
                                <option value="<%= categoria.id %>"><%= categoria.descripcion %></option>
                            <% }); %>
                        <% } %>
                    </select>
                </div>
                <div>
                    <label for="descuento">Descuento</label>
                    <input type="number" name="descuento" id="descuento" placeholder="Descuento" required>
                </div>
                <div>
                    <label for="precio">Precio</label>
                    <input type="text" name="precio" id="precio" placeholder="Precio" required>
                </div>
                <div>
                    <label for="historia">Historia</label>
                    <textarea name="historia" id="historia" rows="5" cols="33">
                    </textarea>
                </div>
                <div>
                    <label for="requisitos">Requisitos</label>
                    <textarea name="requisitos" id="requisitos" rows="5" cols="33">
                    </textarea>
                </div>

            <button type="submit" class="btn-register">Agregar!</button>
        </form>
    </main>

    <%- include('./partials/footer') %>
</body>

</html>